<style scoped>@import url(/app/components/shell/header/header.css);</style>
<header class="header">
    <div id="skiptocontent">
        <a href="#maincontent">skip to main content</a>
    </div>

    <nav>
        <a href="/" aria-label="Home Page">
            <img src="/images/logo.png" alt="Site logo" height="64" />
        </a>

        <button class="expand-nav">&#9776;</button>

        <ul class="menu">
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
